
* {
    margin: 0px;
    padding: 0px;
}

#accSettingsDiv {
    position: absolute;
    top: 3%;
    right: 2%;
    height: 5%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    font-size: 180%;
}

#printUsername {
    font-family: 'Sawarabi Gothic', sans-serif;
    text-shadow: 10px 8px 4px rgba(100,100,100,0.5);
    color:rgb(255, 255, 255, 0.9);
}

#accountSettingsButton {
    box-sizing: border-box;
    margin: auto 50%;
    transition: 1s;
    font-size: 150%;
    color: rgba(255, 255, 255, 0.6);
}

#accountSettingsButton:hover {
    transform: rotate(-180deg);
    color: white;
    cursor: pointer;
}

/* CSS for settings panel */

#settingsPanel {
    display: none;
    position: absolute;
    width: 35%;
    height: 40%;
    top:8%;
    right: 3%;
    z-index: 10;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.425) 100%);
    transition: 1s all;
}

/* CSS for changeUsername part of settingsPanel */

#changeUsername {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 50%;
    border-right: 2px solid rgb(68, 68, 68, 0.8);
}

#changePreferences {
  position: absolute;
  left: 50%;
  top: 0px;
  height: 100%;
  width: 50%;
  border-left: 2px solid rgb(68, 68, 68, 0.8);
}

#changeUsernameTitle, #changePreferencesTitle {
  font-family: 'Sawarabi Gothic', sans-serif;
  text-shadow: 5px 3px 4px rgba(100,100,100,0.5);
  color:rgba(53, 53, 53, 0.9);
  box-sizing: border-box;
  padding: 5%;
  text-align: center;
  height: 20%;
  position: absolute;
  top: 5%;
  width: 100%;
}

#changeUsernameForm, #changePreferencesForm {
  position: absolute;
  top: 25%;
  width: 100%;
  height: 75%;
  align-items: center;
}

.pwdCondition {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 70%;
}

.pwdCondition div {
  margin-right: 10%;
}

.pwdCondition p {
  text-align: center;
}

.inputs {
  width: 100%;
  height: 2.5rem;
  color: rgb(0, 0, 0);
  font-family: 'Spectral', sans-serif;
  border: none;
  border-radius: 50px;
  text-align: center;
}

.inputs:focus {
  outline: none;
}

form label {
  width: 60%;
}

#pwdEye {
  position: relative;
  right: 0%;
  top: -2rem;
  left: 80%;
  z-index: 6;
  transition: 1s all;
  width: fit-content;
}

#pwdEyeIcon:hover {
  color:rgb(34, 34, 34) !important;
}

#pwdBox {
  width: 60%;
  background-color: white;
  border-radius: 50px;
  height: 2.5rem;
  overflow: hidden;
}

#pwdBox * {
  width: 100%;
  border-radius: 0px;
}

#submitChangeUsername, #submitChangePreferences {
  font-size: 150%;
  line-height: 20%;
  color: white;
  border-radius: 36px;
  width: min(50%);
  height: 2.5rem;
  border: none;
  background: linear-gradient(-1deg, #a78e74 0%, rgba(204, 102, 7, 0) 100%);
  background-blend-mode: normal;
  padding: 1rem;
  font-family: 'Big Shoulders Stencil Display', cursive;
  transition: 1s all;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px #606060;
}

#submitChangeUsername:hover, #submitChangePreferences:hover {
  box-shadow: 4px 6px 4px #606060;
  font-size: 1.6rem;
}

.flexRowEvn {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  transform: translateX(20%);
}

input[type="checkbox"] {
  margin-right: 5%;
}