body {
    height: 110vh !important;
}

#articlesBox {
    position: absolute;
    top: 35vh;
    left: 5vw;
    width: 65%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.articleBox {
    position: relative;
    height: 50vh;
    width: 100%;
}

.articles {
    position: relative;
    width: 90% !important;
    height: 90% !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -10px 15px 5px rgba(100,100,100,0.5);
    overflow: hidden;
}

.articlePreview {
    position: relative;
    height: 100%;
    width: 100%;
    top: 90%;
    transition: 1.5s all;
}

.articlePreview:hover {
    top: 0px;
}

.articleTitle {
    position: relative;
    height: 12% !important;
    width: 100% !important;
    font-family: 'Oswald', sans-serif;
    font-size: 3.5vmin;
    background: linear-gradient(0deg, #d6d6d6 0%, #ffffff88 100%);
    background-blend-mode: normal;
    box-shadow: 0px 10px 6px rgba(100,100,100,0.5);
    z-index: 5;
    transition: 1s all;
    text-align: center;
}

.articleText {
    background: linear-gradient(0deg, #ffffff63 100%, #d6d6d6 0%);
    background-blend-mode: normal;
    position: relative;
    width: 90%;
    height: 90%;
    padding: 5%;
}

@media only screen and (min-width: 10px) and (max-width: 1000px) {
    #news {
        display: none;
        width: 0px;
        height: 0px;
    }

    #articlesBox {
        position: relative;
        top: 10%;
        left: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .articlePreview {
        top: 88%;
    }

    .articleTitle {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 6vmin;
    }
}