* {
    margin: 0;
    padding: 0;
}

::-ms-reveal {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
}

/* CSS FOR DESKTOP */

#slideBar {
  width: 38vw;
  position: fixed;
  right: 5%;
  top: 0vh;
  height: 300vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 1.5s all;
  z-index: 5;
}

#landingPageImage {
    position: relative;
    height: 57vh;
    width: 38vw;
}

#login {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 20vw;
  height: 60vh;
  border-radius: 50px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(175,154,135,0.77) 100%);
  background-blend-mode: normal;
  box-shadow: 5px 10px 4px rgba(100,100,100,0.5);
}

#login h2 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  text-shadow: 0px 2px 4px rgba(100,100,100,0.5);
  color: #606060;
  text-align: center;
  border-bottom: #606060 1px solid;
  padding: 5%;
  font-family: 'Big Shoulders Stencil Display', cursive;
}

#login form {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#pwdBox {
  width: 60%;
  background-color: white;
  border-radius: 50px;
  height: 2.5rem;
  overflow: hidden;
}

#pwdBox * {
  width: 100%;
  border-radius: 0px;
}

.inputs {
  width: 100%;
  height: 2.5rem;
  color: rgb(0, 0, 0);
  font-family: 'Spectral', sans-serif;
  border: none;
  border-radius: 50px;
  text-align: center;
}

.inputs:focus {
  outline: none;
}

form label {
  width: 60%;
}

form label[for = 'pwdR'] {
  height: 2.5rem;
}

#pwdEye, #pwdEyeR {
  position: relative;
  right: 0%;
  top: -2rem;
  left: 80%;
  z-index: 6;
  transition: 1s all;
  width: fit-content;
}

#pwdEyeIcon:hover, #pwdEyeIconR:hover {
  color:rgb(34, 34, 34) !important;
}

#keepSignedInLabel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-family: 'Big Shoulders Stencil Display', cursive;
}

#keepSignedIn {
  border: 1px solid white;
  background: none;
  width: 1.2rem;
  height: 1.2rem;
}

#submitBtn, #submitBtnR {
  font-size: 1.5rem;
  color: white;
  border-radius: 36px;
  width: min(50%);
  height: 3.5rem;
  border: none;
  background: linear-gradient(-1deg, #a78e74 0%, rgba(204, 102, 7, 0) 100%);
  background-blend-mode: normal;
  padding: 1rem;
  font-family: 'Big Shoulders Stencil Display', cursive;
  transition: 1s all;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px #606060;
}

#submitBtn:hover, #submitBtnR:hover {
  box-shadow: 4px 6px 4px #606060;
  font-size: 1.6rem;
}

#pwdErrors {
  position: relative;
  left: 100%;
  top: -50%;
  overflow-x: hidden;
  overflow-y: visible;
  height: 30vh;
}

#pwdErrorsListBox {
  position: relative;
  z-index: 10;
}

#pwdErrorsList {
  position: relative;
  z-index: 5;
  left: 0%;
  width: 10vw;
  height: 20vh;
  border-radius: 0px 50px 50px 0px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(175,154,135,0.77) 100%);
  background-blend-mode: normal;
  box-shadow: 5px 10px 4px rgba(100,100,100,0.5);
}

#register {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 20vw;
  height: 60vh;
  border-radius: 50px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(175,154,135,0.77) 100%);
  background-blend-mode: normal;
  box-shadow: 5px 10px 4px rgba(100,100,100,0.5);
}

#register h2 {
  font-family: 'Big Shoulders Stencil Display', cursive;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  text-shadow: 0px 2px 4px rgba(100,100,100,0.5);
  color: #606060;
  text-align: center;
  border-bottom: #606060 1px solid;
  padding: 5%;
}

#register form {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.pwdCondition {
  display: flex;
  flex-direction: row;
  align-items: left;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pwdCondition div {
  margin-right: 10%;
}

#textBox {
  top: 15%;
  left: 5%;
  transition: 1s all;
}

#textBox * {
  margin-bottom: 3vmin;
}

#textBox h1{
  font-size: 11vmin;
  font-family: 'Sawarabi Gothic', sans-serif;
  text-shadow: 10px 8px 4px rgba(100,100,100,0.5);
  color:rgb(255, 255, 255, 0.7);
  cursor: pointer;
}

#textBox h2 {
  font-size: 7vmin;
  font-family: 'Big Shoulders Stencil Display', cursive;
  color:rgba(248, 248, 248, 0.7);
  text-shadow: 10px 8px 4px rgba(100,100,100,0.5);
  width: 45%;
  margin-top: 5vmin;
}

#textBox button {
  margin-top: 5vmin;
  width: 12vw;
  height: 8vh;
  border: none;
  border-radius: 50px;
  background: linear-gradient(135deg, #ffffffcc 0%, #d3d3d3be 100%);
  background-blend-mode: normal;
  box-shadow: 10px 6px 4px rgba(100,100,100,0.5);
  justify-content: center;
  align-items: center;
  transition: 2s all;
}

#textBox a {
  text-decoration: none;
  font-size: 5vmin;
  font-family: 'Oswald', sans-serif;
  color: rgb(63, 63, 63);
  text-shadow: 4px 3px 4px rgba(100,100,100,0.5);
  transition: 1s all;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#textBox button:hover {
  box-shadow: 15px 10px 4px rgba(100,100,100,0.6);
  background: linear-gradient(135deg, #ffffff 0%, #d3d3d3 100%);
}

#textBox a:hover {
  text-shadow: 6px 4px 4px rgba(100,100,100,0.5);
}

#socialPlatforms {
  height: 50px;
  width: 20vw;
  background: linear-gradient(-54deg, rgba(216,190,167,0.5) 0%, rgba(255,255,255,0.5) 100%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border-radius: 50px;
  position: fixed;
  left: 5%;
  bottom: 10%;
  transition: 1s all;
}

#socialPlatforms * {
  transition: 1s all;
}

#socialPlatforms *:hover {
  transition: 1s all;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

#linkToRenewPassword {   
  color: white;
  font-family: 'Oswald', serif;
  font-weight: 300;
  font-size: 2vmin;
  text-decoration: none;
}

#linkToRenewPassword:hover {
  text-decoration: underline;
  text-shadow: 0px 0px 5px white;
}

/* CSS FOR MOBILE */

@media only screen and (min-width: 10px) and (max-width: 1000px) {
  #slideBar {
    display: none;
    bottom: 100%;
  }

  #socialPlatforms {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }

  #textBox {
    position: absolute;
    top: 20%;
    left: 0px;
    width: 100%;
    height: 60%;
    font-family: 'Spectral', serif;
  }

  #textBox * {
    margin: 0px;
  }

  #textBox h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'Spectral', serif;
    font-size: 15vmin;
    font-weight: 300;
    line-height: 12vw;
  }

  #textBox h2 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'Spectral', serif;
    font-size: 5vmin;
    font-weight: 100;
    line-height: 5vh;
  }

  #textBox button {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    height: 12%;
  }

  #textBox button a {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Spectral', serif;
    font-size: 10vmin;

  }

  #slideBar {
    top: -300vh;
    width: 100%;
    right: auto;
  }

  #login {
    width: 90%;
  }

  #register {
    width: 90%;
  }

}