#formBox {
    position: absolute;
    top:30vh;
    left: 5vw;
    width: 65%;
    height: 60vh;

    overflow: hidden;
}

#requestChangePasswordForm {
    position: relative;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    height: 50%;
    box-sizing: border-box;
    padding: 5vh 0px;
    
    background: rgba(211,211,211,0.32);
    background-blend-mode: normal;
    border-radius: 0px 0px 50px 50px;
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.349);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    transition: 2s all;
}

label[for="email"] {
    width: 60%;
    height: 4vh;
    border-radius: 32px;
    overflow: hidden;
}

.inputs {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.7vmin;
    color: black;
}

.pwdCondition {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7vmin;
}

.pwdCondition p {
    box-sizing: border-box;
    padding: 0px 10%;
    text-align: center;
}

#submitBtn {
    font-size: 1.5rem;
    color: white;
    border-radius: 36px;
    width: min(50%);
    height: 3.5rem;
    border: none;
    background: linear-gradient(-1deg, #a78e74 0%, rgba(204, 102, 7, 0) 100%);
    background-blend-mode: normal;
    padding: 1rem;
    font-family: 'Big Shoulders Stencil Display', cursive;
    transition: 1s all;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px #606060;
}

#submitBtn:hover {
    box-shadow: 4px 6px 4px #606060;
    font-size: 1.6rem;
}

#linkToRegister {
    
    color: white;
    font-family: 'Oswald', serif;
    font-weight: 300;
    font-size: 2vmin;
}

#linkToRegister:hover {
    text-decoration: underline;
    text-shadow: 0px 0px 5px white;
}

@media only screen and (min-width: 10px) and (max-width: 1000px) {

    #formBox {
        top: 10%;
        left: 0px;
        width: 100%;
        height: 70vh;
    }

    #requestChangePasswordForm {
        height: 90%;
        width: 90%;
    }

    label[for="email"] {
        height: 6vh;
        width: 70%;
    }

    .inputs {
        font-size: 4vmin;
    }

    .pwdCondition {
        font-size: 5vmin;
    }

    #linkToRegister {
        font-size: 6vmin;
    }
}